
        <div class="container">
          <div class="text-right fixed-top">
            <button type="button" class="btn btn-primary" onclick="toogleColor()">Change color</button>
          </div>
            <header>
              <div class="row image  ">

                <div class="col-12 stripe ">
                   <div class="">
                     <h1 class="textPinkColor ">BRILLENBERATER</h1>
                     <h6 class="textPinkColor">In wenigen Schritten zur perfekten Brille</h6>
                   </div>

                </div>

              </div>
            </header>


            <nav class="navbar navbar-expand-lg  navbar-light">

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon text-dark"></span>
                </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav container-fluid">

                        <li class="nav-item  text-center">
                        <a class="nav-link text-light " href="#">1</a>
                        </li>
                        <li class="nav-item  text-center">
                          <a class="nav-link text-light" href="#">2</a>
                        </li>
                        <li class="nav-item  text-center">
                          <a class="nav-link text-light" href="#">3</a>
                        </li>
                        <li class="nav-item  text-center active">
                          <a class="nav-link text-light" href="#">4</a>
                        </li>
                        <li class="nav-item  text-center">
                          <a class="nav-link text-light " href="#">5</a>
                        </li>
                      </ul>
                  </div>
            </nav>
              <section>
                      <header>
                        <div class="mb-3 d-flex flex-row justify-content-center textPinkColor">
                            <h4 class="mt-1 py-2 text-center align-items-center font-weight-bold" >Welche Gesichtsform haven Sie?</h4>
                        </div>
                      </header>
                      <div class="">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="false" data-wrap="false" data-interval="false">

                                              <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                  <div class="row">
                                                    <div class="col-6 col-md-3 ">
                                                        <figure class="mb-0 w-100"><img src="/assets/images/face1.png" class="img-fluid w-100" alt="face picture 1"> </figure>
                                                        <figcaption class="grey d-flex py-2"><input type="checkbox" class="mx-2 custom-control custom-checkbox" id="exampleCheck1"> <label class="mb-0" for="exampleCheck1">Eckig</label> </figcaption>
                                                    </div>
                                                    <div class="col-6 col-md-3">
                                                        <figure class="mb-0 " ><img src="/assets/images/face2.png" class="img-fluid w-100" alt="face picture 2"> </figure>
                                                        <figcaption class="grey d-flex py-2"><input type="checkbox" class="mx-2 custom-control custom-checkbox" id="exampleCheck2"> <label class="mb-0" for="exampleCheck2">Rund</label> </figcaption>
                                                    </div>
                                                    <div class="col-6 col-md-3">
                                                        <figure class="mb-0"><img src="/assets/images/face3.png" class="img-fluid w-100" alt="face picture 3"> </figure>
                                                        <figcaption class="grey d-flex py-2"><input type="checkbox" class="mx-2 custom-control custom-checkbox" id="exampleCheck2"> <label class="mb-0" for="exampleCheck2">Oval</label> </figcaption>
                                                    </div>
                                                    <div class="col-6 col-md-3">
                                                        <figure class="mb-0"><img src="/assets/images/face4.png" class="img-fluid w-100" alt="face picture 4"> </figure>
                                                        <figcaption class="grey d-flex py-2"><input type="checkbox" class="mx-2 custom-control custom-checkbox" id="exampleCheck2"> <label class="mb-0" for="exampleCheck2">Herzförmig</label> </figcaption>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="carousel-item  ">
                                                  <div class="row  d-flex flex-row justify-content-center">
                                                      <div class="col-6 col-md-4 d-flex flex-column align-items-stretch">
                                                          <figure class="mb-0 "><img src="/assets/images/brilleColor1.png" class="img-fluid w-100" alt="brile picture 1"> </figure>
                                                          <figcaption class="grey py-2 d-flex flex-row h-100 align-middle"><input type="checkbox" class=" mx-2 custom-control custom-checkbox" id="shapeCheck1"> <label class="align-middle h-100" for="shapeCheck1">Bruchsicher &#38; rostfrei&#58; Metail-Fassungen</label> </figcaption>
                                                      </div>
                                                      <div class="col-6 col-md-4 d-flex flex-column flex-column align-items-stretch">
                                                          <figure class="mb-0"><img src="/assets/images/brilleColor2.png" class="img-fluid w-100" alt="brile picture 2"> </figure>
                                                          <figcaption class="grey py-2 d-flex flex-row h-100 align-middle"><input type="checkbox" class="mx-2 custom-control custom-checkbox" id="shapeCheck2"> <label class="align-middle h-100" for="shapeCheck2">Farbenfroch &#38; extravagant&#58; Kunststoff-Fassungen</label> </figcaption>
                                                      </div>
                                                      <div class="col-6 col-md-4 d-flex flex-column flex-column align-items-stretch">
                                                          <figure class="mb-0"><img src="/assets/images/brilleColor3.png" class="img-fluid w-100" alt="Light & stabil"> </figure>
                                                          <figcaption class="grey py-2 d-flex flex-row h-100 align-middle"><input type="checkbox" class="mx-2 custom-control custom-checkbox" id="shapeCheck2"> <label class="align-middle  h-100" for="shapeCheck2">Leicht &#38; stabil&#58; Titan-Fassungen</label> </figcaption>
                                                      </div>
                                                  </div>
                                                </div>
                                              </div>

                          </div>

                          <div class="row">
                            <div class="col-12">
                                <div class="float-left d-flex align-middle align-items-center">
                                  <a id="navZuruck" href="#carouselExampleIndicators" class="navZuruck float-left text-light previous  icon-arrow-left my-1 p-4  " role="button" data-slide="prev" onclick="switchVisibility(this.id, 'navWeiter')" hidden  ></a>
                                  <span id="navZuruck"  class="navZuruck textPinkColor m-1" onclick=" switchVisibility(this.id, 'navWeiter')" hidden>ZURUCK</span>
                                </div>
                                <div class="float-right d-flex align-middle align-items-center">
                                  <span id="navWeiter"  class="navWeiter textPinkColor m-1" onclick=" switchVisibility(this.id, 'navZuruck')" >WEITER</span>
                                  <a id="navWeiter" href="#carouselExampleIndicators" class="navWeiter text-light next  icon-arrow-right my-1 p-4  " role="button" data-slide="next" onclick="switchVisibility(this.id, 'navZuruck')" ></a>
                                </div>
                            </div>
                          </div>
                      </div>

              </section>

              <header>
                <div class="mb-3 d-flex flex-row justify-content-center pinkBackGround">
                    <h5 class="mt-2 py-1 text-center align-items-center text-light" >Produkte, die Ihren Wunshen entsprechen</h5>
                </div>
              </header>

              <form action="#" method="get">
                    <div class="card ">
                            <div class="row d-flex flex-row">
                                <div class="col-sm-5  d-flex align-self-center">
                                  <figure class="">
                                      <img src="/assets/images/brille.png" class="" alt="brilleImage">
                                  </figure>
                                </div>
                                <div class="col-sm-4 text-left ">
                                  <p class="font-weight-bold m-2 ">FUNCHAL</p>
                                  <div class="dropdown-divider"></div>
                                  <fieldset class="form-group m-2">
                                      <div class=" custom-control custom-checkbox">
                                        <div class="form-check  form-check-inline">
                                          <input type="checkbox" class="custom-control-input" id="customCheck1" name="selectList" value="b">
                                          <label class="custom-control-label" for="customCheck1">Brillentyp. Damen. Herren</label>
                                        </div><br>
                                        <div class="form-check  form-check-inline">
                                          <input type="checkbox" class="custom-control-input" id="customCheck2" name="selectList" value="r">
                                          <label class="custom-control-label" for="customCheck2">Rahmentyp: Randiose Brille</label>
                                        </div><br>
                                        <div class="form-check  form-check-inline">
                                          <input type="checkbox" class="custom-control-input" id="customCheck3" name="selectList" value="e">
                                          <label class="custom-control-label" for="customCheck3">Eckiger Rahmen</label>
                                        </div><br>
                                        <div class="form-check  form-check-inline">
                                          <input type="checkbox" class="custom-control-input" id="customCheck4" name="selectList" value="o">
                                          <label class="custom-control-label" for="customCheck4">Ovaler Rahmen</label>
                                        </div><br>
                                        <div class="form-check  form-check-inline">
                                          <input type="checkbox" class="custom-control-input" id="customCheck5" name="selectList" value="ru">
                                          <label class="custom-control-label" for="customCheck5">Runder Rahmen</label>
                                        </div><br>
                                        <div class="form-check  form-check-inline">
                                          <input type="checkbox" class="custom-control-input" id="customCheck6" name="selectList" value="st">
                                          <label class="custom-control-label" for="customCheck6">Still: casual, extravagant</label>
                                        </div><br>
                                        <div class="form-check  form-check-inline">
                                          <input type="checkbox" class="custom-control-input" id="customCheck7" name="selectList" value="ei">
                                          <label class="custom-control-label" for="customCheck7">Einstarkenbrille</label>
                                        </div><br>
                                        <div class="form-check  form-check-inline">
                                          <input type="checkbox" class="custom-control-input" id="customCheck8" name="selectList" value="ma">
                                          <label class="custom-control-label" for="customCheck8">Material: Metaill</label>
                                        </div><br>
                                        <a class="dropdown-toggle" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                          mehr Attribute anzeigen
                                        </a>
                                        <div class="collapse" id="collapseExample">
                                          <div class="form-check  form-check-inline">
                                            <input type="checkbox" class="custom-control-input" id="customCheck9" name="selectList" value="so1">
                                            <label class="custom-control-label" for="customCheck9">some other option</label>
                                          </div><br>
                                          <div class="form-check  form-check-inline">
                                            <input type="checkbox" class="custom-control-input" id="customCheck10" name="selectList" value="so2">
                                            <label class="custom-control-label" for="customCheck10">some other option</label>
                                          </div><br>
                                          <div class="form-check  form-check-inline">
                                            <input type="checkbox" class="custom-control-input" id="customCheck11" name="selectList" value="so3">
                                            <label class="custom-control-label" for="customCheck11">some other option</label>
                                          </div><br>
                                        </div>
                                      </div>
                                  </fieldset>
                                </div>
                                <div class="col-sm-3 p-3">
                                  <div class=" card m-2">
                                    <span class="text-center align-items-center">Rahmen inkl. Glaser & Service</span>
                                    <span class="text-center align-items-center textPinkColor font-weight-bold textSizeLarge">ab 39.90 &euro;</span>
                                  </div>
                                  <div class="p-2">
                                    <input type="submit" class="btn btn-lg btn-block btn-success font-weight-bold" value="Zum Produkt">
                                  </div>
                                </div>
                            </div>
                    </div>
              </form>
              <form class="mt-3"action="#" method="get">
                    <div class="card ">
                            <div class="row d-flex flex-row">
                                <div class="col-sm-5 container-fluid d-flex align-self-center">
                                  <figure class="">
                                      <img src="/assets/images/brille.png" class="" alt="brilleImage">
                                  </figure>
                                </div>
                                <div class="col-sm-4 text-left ">
                                  <p class="font-weight-bold m-2 ">FUNCHAL</p>
                                  <div class="dropdown-divider"></div>
                                  <fieldset class="form-group m-2">
                                      <div class=" custom-control custom-checkbox">
                                        <div class="form-check  form-check-inline">
                                          <input type="checkbox" class="custom-control-input" id="customCheck21" name="selectList" value="b">
                                          <label class="custom-control-label" for="customCheck21">Brillentyp. Damen. Herren</label>
                                        </div><br>
                                        <div class="form-check  form-check-inline">
                                          <input type="checkbox" class="custom-control-input" id="customCheck22" name="selectList" value="r">
                                          <label class="custom-control-label" for="customCheck22">Rahmentyp: Randiose Brille</label>
                                        </div><br>
                                        <div class="form-check  form-check-inline">
                                          <input type="checkbox" class="custom-control-input" id="customCheck23" name="selectList" value="e">
                                          <label class="custom-control-label" for="customCheck23">Eckiger Rahmen</label>
                                        </div><br>
                                        <div class="form-check  form-check-inline">
                                          <input type="checkbox" class="custom-control-input" id="customCheck24" name="selectList" value="o">
                                          <label class="custom-control-label" for="customCheck24">Ovaler Rahmen</label>
                                        </div><br>
                                        <div class="form-check  form-check-inline">
                                          <input type="checkbox" class="custom-control-input" id="customCheck25" name="selectList" value="ru">
                                          <label class="custom-control-label" for="customCheck25">Runder Rahmen</label>
                                        </div><br>
                                        <div class="form-check  form-check-inline">
                                          <input type="checkbox" class="custom-control-input" id="customCheck26" name="selectList" value="st">
                                          <label class="custom-control-label" for="customCheck26">Still: casual, extravagant</label>
                                        </div><br>
                                        <div class="form-check  form-check-inline">
                                          <input type="checkbox" class="custom-control-input" id="customCheck27" name="selectList" value="ei">
                                          <label class="custom-control-label" for="customCheck27">Einstarkenbrille</label>
                                        </div><br>
                                        <div class="form-check  form-check-inline">
                                          <input type="checkbox" class="custom-control-input" id="customCheck28" name="selectList" value="ma">
                                          <label class="custom-control-label" for="customCheck28">Material: Metaill</label>
                                        </div><br>
                                        <a class="dropdown-toggle" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
                                          mehr Attribute anzeigen
                                        </a>
                                        <div class="collapse" id="collapseExample1">
                                            <div class="form-check  form-check-inline">
                                              <input type="checkbox" class="custom-control-input" id="customCheck19" name="selectList" value="so1">
                                              <label class="custom-control-label" for="customCheck19">some other option</label>
                                            </div><br>
                                            <div class="form-check  form-check-inline">
                                              <input type="checkbox" class="custom-control-input" id="customCheck110" name="selectList" value="so2">
                                              <label class="custom-control-label" for="customCheck110">some other option</label>
                                            </div><br>
                                            <div class="form-check  form-check-inline">
                                              <input type="checkbox" class="custom-control-input" id="customCheck111" name="selectList" value="so3">
                                              <label class="custom-control-label" for="customCheck111">some other option</label>
                                            </div><br>
                                        </div>
                                      </div>

                                  </fieldset>
                                </div>
                                <div class="col-sm-3 p-3">
                                  <div class=" card m-2">
                                    <span class="text-center align-items-center">Rahmen inkl. Glaser & Service</span>
                                    <span class="text-center align-items-center textPinkColor font-weight-bold textSizeLarge">ab 149.90 &euro;</span>
                                  </div>
                                  <div class="p-2">
                                    <input type="submit" class="btn btn-lg btn-block btn-success font-weight-bold" value="Zum Produkt">
                                  </div>
                                </div>
                            </div>
                    </div>
              </form>
      </div>
