.custom-checkbox .custom-control-label::before{
    background-color:var(--grey);
    display: inline-block;
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.5) url(/assets/images/dot.png) no-repeat;
    background-position: center;
    fill: var(--grey);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:var(--light-green);
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
    background-color:var(--light-green);
  }
.custom-control-input:active~.custom-control-label::before{
    background-color:var(--light-green);
}
